.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(75, 94%, 57%);
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.background {
  background-color: hsl(0, 0%, 12%);
  width: 400PX;
  height: 580PX;
  border-radius: 3%;
  text-align: center;
  padding-top: 5%;
}

img{
  border-radius: 50%;
  width: 100px;
  
}


.full-name{
  color: hsl(0, 0%, 100%);
  font-size: 1.5em;
}

.location{
  color: hsl(75, 94%, 57%);
  font-size: 0.75rem;
  
}

#hobby{
  color: hsl(0, 0%, 51%);
  font-weight: 300;
}

.font{
  font-family: inter;
  font-weight: 700;
}

.prof-links{
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;

}

section a{
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  width: 75%;
  height: 40px;
  border-radius: 10px;
  align-content: center;

}


section a:hover{
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}


body{
  background-color: hsl(0, 0%, 8%);
}


