.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(75, 94%, 57%);
}

body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.background {
  margin: 0;
  background-color: hsl(0, 0%, 12%);
  border-radius: 3%;
  text-align: center;
  padding-top: 5%;
}

img {
  border-radius: 50%;
  width: 100px;
}

.full-name {
  color: hsl(0, 0%, 100%);
}

.location {
  color: hsl(75, 94%, 57%);
}

#hobby {
  color: hsl(0, 0%, 51%);
  font-weight: 300;
}

.font {
  font-family: inter;
  font-weight: 700;
}

.prof-links {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

section a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  width: 75%;
  height: 40px;
  border-radius: 10px;
  align-content: center;
}

section a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}

/* Mobile screens */
@media (min-width: 320px) {
  body {
    padding: 2rem;
    overflow: hidden;
    font-size: 20px;
  }

  .background {
    width: 20rem;
    height: 30rem;
  }

  .fullname {
    font-size: 1rem;
  }

  .location {
    font-size: 0.6rem;
  }
  .hobby {
    font-size: 0.75rem;
  }
  section a {
    height: 32px;
    font-size: 0.75rem;
    align-content: center;
  }
}

/* Tablet screens */
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  .background {
    width: 400px;
    min-height: 520px;
  }

  .full-name {
    font-size: 1.75em;
  }

  .location {
    font-size: 0.75rem;
  }

  .hobby {
    font-size: 1rem;
  }

  section a {
    font-size: 0.75em;
    align-content: center;
  }
}

/* Desktop Screens */
@media (min-width: 1280px) {
  body {
    width: 100%;
  }
  .background {
    height: 35rem;
  }
  section a {
    height: 40px;
    align-content: center;
  }
}
